<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form>
        {% csrf_token %}
        {% for question in questions %}
        <p>질문 {{ forloop.counter }} : {{ question }}</p>
            <div>
            {% for key, value in choices.items %}
                <input type="radio" name="question{{ forloop.parentloop.counter }}" value="{{ value }}">{{ key }}
            {% endfor %}
            </div>
        
            {% endfor %}
        <button type="submit">전송</button>
        </form>
</body>
</html>